
# Local-only env for emulator/local server (NOT used by deployed functions)
TZ=UTC
PORT=8787

# For twilio signature validation locally (optional)
TWILIO_AUTH_TOKEN=twilio_token
TWILIO_SID=twilio_sid

# GCP project and location for VertexAI
GCP_PROJECT_ID=project-id
GCP_LOCATION=us-central1

# Google Cloud Storage bucket for TTS media
VOICE_BUCKET=zai-voice-responses
GEMINI_API_KEY=geimini-api

SERVICE_ACCOUNT_JSON=serviceAccount.json
GOOGLE_APPLICATION_CREDENTIALS=serviceAccount.json